body {
    font-family: "Segoe UI", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    text-align: center;
}
.text #out {
    padding: 0 20px;
    text-align: center;
}